.test {
  background-color: red;
   align: 'center';
        paddingTop: 20;
              width: 400;
              height: 80;
              margin: 'auto';

}

.tester{
background-color: red;
   align: 'center';
        paddingTop: 20;
              width: 400;
              height: 80;
              margin: 'auto';
}
